<% provide(:title, 'Help') %>

<h1>Help</h1>
<p>Here are some resources/articles that I've come across that you may find helpful in your quests to achieve total world domination. Although you'll have to get past me first.
Here's your first <a href ="http://www.google.com/">tool</a>.
</p>
		
			
		