<% provide(:title, 'Home') %>
<h1>Nithin Reddy</h1>
<p>
	Welcome to my personal website. I created this
	using this awesome framework known as
	<a href="http://rubyonrails.org/">Ruby on Rails</a>.
</p>

